<div class="mt-4">
    <h3 class="text-lg font-semibold text-gray-800 mb-2">House Rules</h3>
    <ul class="list-disc list-inside">
        <li>No smoking inside the house</li>
        <li>Pets are not allowed</li>
        <li>Parties are not allowed</li>
        <li>Check-in time is 3 PM</li>
        <li>Check-out time is 11 AM</li>
    </ul>
</div>