<%- include('partials/head') %>
</head>
<body>
    <%- include('partials/nav') %>
    <main class="flex justify-center items-center mt-10">
        <div class="w-6xl grid h-50 place-items-center">
            <p class="text-7xl text-red-500 font-bold">
                404
            </p>
            <p class="text-4xl text-gray-500">
                Oops! Page Not Found
            </p>
            <button class="text-white bg-red-500 h-10 w-30 rounded">
                <a href="/">Return to Home</a>
            </button>
        </div>
    </main>
</body>
</html>